.TTFooter {
  height: 336px;
  background: #232247;
  color: #fff;
  padding: 0;
}
.color_white {
  color: #fff !important;
  font-size: 16px;
}

.dropDownWrapper {
  background: #232247;
  padding-bottom: 16px;
  padding-right: 8px;
  margin-left: -10px;
  font-size: 16px;
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);

  a {
    color: #fff;
    padding-left: 16px;
    &:hover {
      color: #8381d3;
    }
  }
}
.dropDownLink {
  display: flex;
  align-items: center;
  font-size: 16px;
  span {
    color: #fff;
    &:hover {
      color: #8381d3;
    }
  }
}

.wrapperCol {
  padding-top: 70px;
}
