.articlBanerHeader {
  font-size: 32px;
  color: #232247;
}

.articleBanerDescription {
  color: #272e49;
  font-size: 18px;
}

.articlesTitle {
  font-size: 18px;
  color: #272e49;
  font-weight: bold;
}
.articlesDesc {
  color: #272e49;
  font-size: 14px;
}
