.wrapperMap {
  background: #232247;
  padding: 64px 93px;
  margin-top: 112px;
  margin-bottom: 112px;
}
.Title {
  color: #fff;
  font-size: 32px;
  font-weight: normal;
}
.subTitle {
  color: #8381d3;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.subText {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
