.wrapperOurProject{
  background-image: url('/assets/Left24.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
}

.TTOurProjectsTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #232247;
}
.TTOurProjectsText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #232247;
}
