.wrapper {
  padding: 0 64px;
}
.genproektirovanieLeftContent {
  display: flex;
  justify-content: center;
}

.genproektirovanieLeftContentText {
  font-size: 14;
}

.genproektirovanieLeftContentItem {
  display: flex;
  align-items: flex-start;
}
