.wrapper {
  padding: 0 64px;
}
.genproektirovanieLeftContent {
  display: flex;
  justify-content: center;
}

.genproektirovanieLeftContentTitle {
  color: #393959;
  font-size: 24px;
  font-weight: 600;
}

.genproektirovanieLeftContentText {
  font-size: 16px;
  color: #232247;
  margin-bottom: 12px;
}

.genproektirovanieLeftContentItem {
  display: flex;
  align-items: flex-start;
}
.TitleStep {
  color: #5651d0;
  font-size: 12px;
  font-weight: 600;
}
.descriptionStep {
  color: #232247;
  font-size: 14px;
}

.HeadingCustomPanel{
  font-size: 24px;
  color: #393959;
}

.HeadingCustomPanelItem{
  font-size: 16px;
  color: #272E49;
}
