.baner {
  // height: 500px;
  background: #232247;
  padding: 0 110px;
  display: flex;
}

.wrapperPadding {
  padding: 0 64px;
  margin-bottom: 112px;
}

.backgroundImg {
  background-image: url('/assets/Left24.svg');
  background-repeat: no-repeat;
}
