.wrapperCommand {
  background: #232247;
  margin: 0px 64px;
  padding: 113px 223px 115px;
  background-image: url('/assets/Left24.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: 58px;
}
.textHeading {
  font-size: 14px;
  color: #8381d3;
  font-weight: bold;
}
.textDesc {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
