.wrapperSlider {
  padding: 0px 64px;
  padding-top: 112px;
  padding-bottom: 112px;
}
.Title {
  font-size: 32px !important;
  color: #232247;
}
.sliderText {
  color: #272e49;
  font-size: 16px;
}
.sliderUser {
  color: #272e49;
  font-size: 16px;
}
