.TTHeading1 {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 50px !important;
  line-height: 112% !important;
  letter-spacing: 0.02em !important;
  color: #ffffff;
  margin: 0;
  display: flex;
}
.TTHeading2 {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 135% !important;
  color: #ffffff;
  display: flex;
}
.TTHeading3 {
  display: flex;
}
.TTTextHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4743a4;
}
