.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperRightIcon {
  display: flex;
  align-items: center;
}

.HeaderWrapper {
  display: flex;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headerPhone {
  font-size: 22px;
  color: #ffffff;
  margin-right: 20px;
}
.headerPhone:hover {
  color: #ffffff;
}

.headerMenu,
.headerMenu {
  cursor: pointer;
}
