.MenuContactsWrapper {
  margin-left: 120px;
}
.MenuItemsWrapper {
  margin-left: 160px;
}

.MenuHead {
  color: #8381d3;
  font-size: 12px;
  padding-left: 8px;
}

.MenuItem {
  color: #fff !important;
  font-size: 18px !important;
  padding: 24px 0px 24px 9px;
  // margin-bottom: 24px;
}
