.TTButtonBlueFull {
  width: 219px;
  height: 48px;
  padding: 0px 16px;
  background: linear-gradient(270deg, #1fa2ff 4.92%, #12d8fa 52.46%, #a6ffcb 100%);
  border: linear-gradient(270deg, #1fa2ff 4.92%, #12d8fa 52.46%, #a6ffcb 100%);
  border-radius: 2px;
  color: #232247;
}

.TTButtonBlueFull:hover {
  background-color: transparent;
  color: #fff;
  border: linear-gradient(270deg, #1fa2ff 4.92%, #12d8fa 52.46%, #a6ffcb 100%);
}

//

.TTButtonBlueBorder {
  width: 219px;
  height: 48px;
  padding: 0px 16px;
  background: linear-gradient(270deg, #1fa2ff 4.92%, #12d8fa 52.46%, #a6ffcb 100%);
  border: linear-gradient(270deg, #1fa2ff 4.92%, #12d8fa 52.46%, #a6ffcb 100%);
  border-radius: 2px;
  color: #232247;
}

.TTButtonBlueBorder:hover {
  background-color: transparent;
  color: #fff;
  border: linear-gradient(270deg, #1fa2ff 4.92%, #12d8fa 52.46%, #a6ffcb 100%);
}

//

.TTButtonOrangeBorder {
  width: 219px;
  height: 48px;
  padding: 0px 16px;
  background: linear-gradient(to right, #fdcf58 0%, #ff0000 100%);
  border: linear-gradient(to right, #fdcf58 0%, #ff0000 100%);
  border-radius: 2px;
  color: #232247;
}

.TTButtonOrangeBorder:hover {
  background-color: transparent;
  color: #fff;
  border: linear-gradient(to right, #fdcf58 0%, #ff0000 100%);
}

//

.TTButtonOrangeFull {
  width: 219px;
  height: 48px;
  padding: 0px 16px;
  background: linear-gradient(to right, #fdcf58 0%, #ff0000 100%);
  border: linear-gradient(to right, #fdcf58 0%, #ff0000 100%);
  border-radius: 2px;
  color: #232247;
}

.TTButtonOrangeFull:hover {
  background-color: transparent;
  // color: #fff;
  border-color: linear-gradient(to right, #fdcf58 0%, #ff0000 100%);
}
