@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Regular.ttf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: white;
}

.ant-input {
  background-color: #232247 !important;
}

.ant-layout-header {
  background-color: #232247 !important;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #232247 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #232247 !important;
}

.ant-tabs-nav {
  margin-bottom: 0px !important;
}

.ant-tabs-tab {
  padding: 6px 24px !important;
  color: #232247 !important;
  font-size: 16px !important;
  font-weight: 400;
}

.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: #4743a4 !important;
  }
}

.ant-collapse-header,
.ant-collapse-content-box {
  padding-left: 0px !important;
}

.ant-collapse-expand-icon {
  margin-right: 8px !important;
}
.ant-tabs-content-holder {
  margin-top: 58px;
}

.ant-breadcrumb-link {
  color: #9191a3;
}

.ant-drawer-content-wrapper {
  margin-top: 96px;
  margin-right: 56px;
  margin-left: 56px;
}
.ant-select-dropdown {
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}

.ant-select-tree-switcher {
  display: none;
}
.ant-tree-select-dropdown {
  padding: 20px !important;
}

.ant-select-tree-node-content-wrapper {
  background-color: #fff !important;
}
.ant-select-tree-checkbox-inner {
  border: 1px solid #9191a3 !important;
}

.ant-select-tree-title {
  &:hover {
    color: #5651d0;
  }
}
.ant-select-multiple .ant-select-selection-item {
  background-color: #fff !important;
  border: none !important;
}
.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
  background-color: #fff !important;
  &:after {
    border: 2px solid #5651d0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
  }
}

.ant-select-tree .ant-select-tree-treenode {
  padding: 0 0 10px 0;
}
.ant-select-selector {
  border: none !important;
  border-bottom: 1px solid #232247 !important;
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
  border-radius: 0px !important;
}

.ant-btn-link:active {
  color: #65657e !important;
}

.ant-pagination-item-active {
  background: #e9e9ed !important;
  border-color: #65657e !important;
}

.ant-pagination-item-active {
  a {
    color: #65657e !important;
  }
}

.ant-pagination-item {
  &:hover {
    border-color: #5651d0 !important;
    a {
      color: #5651d0 !important;
    }
  }
}

.ant-pagination-prev,
.ant-pagination-next {
  display: none !important;
}
