:root {
  /* --brand-base-dark-1: #030307;
  --brand-base-dark-1: #202040;
  --brand-base-dark-1: #1c1c39;
  --brand-base-dark-1: #191932;
  --brand-base-dark-1: #15152b;
  --brand-base-dark-1: #121224;
  --brand-base-dark-1: #0e0e1c;
  --brand-base-dark-1: #0a0a15;
  --brand-base-dark-1: #07070e;
  --brand-base-dark-1: #030307;
  --brand-base-dark-1: #000000;

  --brand-base-light-1: #232347;
  --brand-base-light-1: #393959;
  --brand-base-light-1: #4f4f6c;
  --brand-base-light-1: #65657e;
  --brand-base-light-1: #7b7b91;
  --brand-base-light-1: #9191a3;
  --brand-base-light-1: #a7a7b5;
  --brand-base-light-1: #bdbdc8;
  --brand-base-light-1: #d3d3da;
  --brand-base-light-1: #e9e9ed;
  --brand-base-light-1: #ffffff;

  --brand-base-Grey/ Dark: #65657E;
  --brand-base-Grey/ Dark: #9191A3;
  --brand-base-Grey/ Dark: #E9E9ED;
  --brand-base-Grey/ Dark: #FDFCFF;
  --brand-base-Grey/ Dark: #666666;
  --brand-base-Grey/ Dark: #939393;
  --brand-base-Grey/ Dark: #EFEFEF;
  --brand-base-Grey/ Dark: #FCFCFC; */
}
