.wrapperContactsBaner {
  background: #232247;
  padding-left: 176px;
  padding-right: 256px;
  padding-top: 64px;
  padding-bottom: 134px;
}
.contactsBanerTitle {
  font-size: 50px;
  color: #fff;
  font-weight: normal;
}
.bannerInfoTitle {
  font-size: 16px;
  color: #fff;
}

.bannerInfoText {
  color: #9191a3;
  font-size: 14px;
}

.contactsTitle {
  font-size: 14px;
  color: #4743a4;
  font-weight: bold;
}

.contactsSubtitle {
  color: #232247;
  font-size: 24px;
  font-weight: bold;
  // max-width: 400px !important;
}

.contactsDesc {
  color: #232247;
  font-size: 16px;
}
