.doneProjectWrapper {
  padding: 0 64px;
}
.doneProjectBaner {
  padding: 0px 80px;
  margin-top: 53px;
}
.doneProjectTitle {
  font-size: 32px !important;
  color: #232247;
}
.doneProjectDescription {
  color: #272e49;
  font-size: 18px;
}
