.doneProjectWrapper {
  padding: 55px 64px 112px;
}
.doneProjectBaner {
  padding: 0px 80px;
}
.doneProjectTitle {
  font-size: 32px;
  color: #232247;
}
.doneProjectDescription {
  color: #272e49;
  font-size: 18px;
}
